.articleGridContainer {
  .articleList {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .articleGridContainer {
    .articleList {
      display: grid;
      grid-template-columns: 2fr;
    }
  }
}

@media (min-width: 1024px) {
  .articleGridContainer {
    .articleList {
      display: grid;
      grid-template-columns: 4fr;
    }
  }
}
