.popularTagsContainer {
  padding-left: 2rem;
  display: none;
  width: 35%;
  .popularTagsHeader {
    font-size: 0.8rem;
    color: var(--popularTags-text);
    padding-bottom: 0.6rem;
    font-weight: 600;
  }

  .tagsListContainer {
    .tagsList {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .tagsListItem {
        list-style: none;
        background-color: var(--tag-list-background-color);
        padding: 0.5rem 0.9rem;
        border-radius: 20px;

        display: flex;
        align-items: center;
        gap: 0.2rem;

        .tagsListItemLink {
          text-decoration: none;
          font-size: 0.75rem;
          font-weight: 500;
          display: block;
          color: var(--tag-list-text-color);
        }

        .tagsCount {
          text-decoration: none;
          font-size: 0.75rem;
          font-weight: 500;
          text-align: center;
          color: var(--tag-list-text-color);
        }
      }

      .tagsListItem:hover {
        background-color: var(--hover-tag-list-background-color);
        cursor: pointer;

        .tagsCount,
        .tagsListItemLink {
          color: var(--tag-list-hover-text-color);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .popularTagsContainer {
    display: block;
    .tagsListContainer {
      .tagsList {
        .tagsListItem:hover {
          cursor: pointer;
        }
      }
    }
  }
}
