.popularTagsContainer {
  padding-left: 2rem;
  display: none;
  background-color: var(--background-color);
  width: 35%;
  .popularTagsHeader {
    font-size: 1rem;
    color: var(--text-color);
    padding-bottom: 0.6rem;
    font-weight: 600;
  }

  .tagsListContainer {
    .tagsList {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .tagsListItem {
        list-style: none;
        background-color: var(--tag-list-background-color);
        padding: 0.4rem 0.8rem;
        border-radius: 20px;

        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: var(--text-color);

        .tagsListItemLink {
          text-decoration: none;
          font-size: 0.85rem;
          font-weight: 500;
          display: block;
        }

        .tagsCount {
          text-decoration: none;
          font-size: 0.85rem;
          font-weight: 500;
          text-align: center;
        }
      }

      .tagsListItem:hover {
        color: var(--hover-text-color);
        background-color: var(--hover-tag-list-background-color);
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1024px) {
  .popularTagsContainer {
    display: block;
    background-color: var(--background-color);

    .popularTagsHeader {
      color: var(--text-color);
    }

    .tagsListContainer {
      .tagsList {
        .tagsListItem {
          background-color: var(--tag-list-background-color);
          color: var(--text-color);
        }

        .tagsListItemLink,
        .tagsCount {
          color: var(--text-color);
        }
        .tagsListItem:hover {
          color: var(--hover-text-color);
          background-color: var(--hover-tag-list-background-color);
          cursor: pointer;

          .tagsListItemLink,
          .tagsCount {
            color: var(--hover-text-colortext-color);
          }
        }
      }
    }
  }
}
