/* light theme */
.navbarRoot {
  height: 4rem;
  border-bottom: 1px solid var(--nav-border);
  background-color: var(--nav-background);
  position: sticky;
  top: 0px;
  z-index: 100; //higher z-index so it stays on top of everything

  .navbarContainer {
    max-width: 1100px;
    height: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbarStart {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      a {
        text-decoration: none;
      }

      .navbarStartLink {
        display: block;
      }

      .logoAndTemp {
        display: flex;
        align-items: center;

        .temperatureInfo {
          display: flex;
          align-items: center;
          display: none;
          .temperatureIconContainer {
            display: block;
            height: 3rem;
            width: 3rem;
            position: relative;

            .temperatureIcon {
              height: 100%;
              width: 100%;
              display: block;
              object-fit: cover;
            }

            span {
              display: block;
              color: var(--nav-text);
            }
          }
        }
      }

      .navbarLogo {
        display: flex;
        align-items: center;
        gap: 0.6rem;

        .navbarLogoSVGContainer {
          .navbarLogoSVG {
            width: 7rem;
            height: 4rem;
            color: var(--nav-text);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbarRoot {
    .navbarContainer {
      max-width: 1100px;

      margin: auto;
      padding: 0.8rem 2rem;

      .navbarStart {
        a {
          text-decoration: none;
        }

        .logoAndTemp {
          display: flex;
          align-items: center;
          position: relative;

          .navbarLogo {
            .navbarLogoSVGContainer {
              .navbarLogoSVG {
                width: 8rem;
                height: 4rem;
              }
            }
          }
          .temperatureInfo {
            display: flex;
            align-items: center;
            color: var(--nav-text);

            .temperatureIconContainer {
              display: block;
              height: 3rem;
              width: 3rem;
              position: relative;

              .temperatureIcon {
                height: 100%;
                width: 100%;
                display: block;
                object-fit: cover;
              }

              span {
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .navbarRoot {
    .navbarContainer {
      max-width: 1100px;

      margin: auto;
      padding: 0.8rem 2rem;

      .navbarStart {
        a {
          text-decoration: none;
        }

        .navbarLogo {
          .navbarLogoSVGContainer {
            .navbarLogoSVG {
              width: 8rem;
              height: 4rem;
            }
          }
        }
      }
    }
  }
}
