%list_header {
  font-size: 1rem;
  font-weight: 600;
  color: var(--footer-header);
  margin-bottom: 1rem;
}

%footer_list_layout {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

%footer_list_item_styles {
  color: var(--footer-list-item-text);
  font-weight: 600;
  font-size: 0.9rem;

  &:hover {
    text-decoration: underline;
    color: var(--footer-list-item-hover-text);
  }
}
.footerMain {
  width: 100%;
  background-color: var(--footerContainer-background);
  border-top: 2px solid var(--footerContainer-border);
  padding: 1.5rem;

  .footerContainer {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    column-gap: 4rem;
    row-gap: 2.5rem;

    li {
      list-style: none;
    }

    .footerLogoContainer {
      display: flex;
      gap: 0.4rem;

      .footerLogoSVGContainer {
        .footerLogoSVG {
          height: 6rem;
          width: 10rem;
          color: var(--footerLogo);
        }
      }
    }

    .footer_popularTags {
      .footer_tagsHeader {
        margin-top: 2rem;
        h4 {
          @extend %list_header;
        }
      }
      .footer_tagsListContainer {
        margin: 1rem 0;
        .footer_tagsList {
          @extend %footer_list_layout;

          .footer_tagItemContainer {
            .footer_tagItem {
              @extend %footer_list_item_styles;
            }
          }
        }
      }
    }

    .footer_categories {
      .footer_categoriesHeader {
        margin-top: 2rem;

        h4 {
          @extend %list_header;
        }
      }

      .footer_categoriesListContainer {
        .footer_categoriesList {
          @extend %footer_list_layout;

          .footer_categoryItemContainer {
            .footer_categoryItem {
              @extend %footer_list_item_styles;
            }
          }
        }
      }
    }

    .footer_resources {
      .footer_resourcesHeader {
        margin-top: 2rem;

        h4 {
          @extend %list_header;
        }
      }

      .footer_resourcesListContainer {
        .footer_resourcesList {
          @extend %footer_list_layout;

          .footer_resourceListItem {
            @extend %footer_list_item_styles;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .footerMain {
    margin-top: 1rem;
    padding: 0;
    .footerContainer {
      width: 100%;
      max-width: 1100px;
      margin: 0 auto;
      margin-top: 1rem;
      column-gap: 2rem;
      row-gap: 2.5rem;
      padding-bottom: 2rem;
      grid-template-columns: repeat(4, minmax(0, 1fr));
      grid-template-rows: repeat(1, minmax(0, 1fr));
    }
  }
}
