.navMenu {
  .activeNavMenuItem {
    background: none;
    border: none;
    font-size: 0.875rem;
    padding: 1rem;
    color: var(--activeNavMenuItem-text);

    .dropdownBtnSVG {
      width: 0.9rem;
      height: 0.9rem;
      position: relative;
      top: 3px;
      left: 2px;
    }
  }

  .animateDropdownSVG_Up {
    animation: hoverAnim 0.5s ease forwards;
  }

  .animateDropdownSVG_Down {
    animation: unhoverAnim 0.5s ease;
  }

  .navMenuList {
    display: none;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
    background-color: var(--navMenuList-background);
    border-radius: 8px;
    position: absolute;
    z-index: 1000;
    color: var(--navMenuList-text);
    width: fit-content;

    .navMenuItem {
      list-style: none;

      .navMenuItemLink {
        display: block;
        text-decoration: none;
        color: var(--navMenuItemLink-text);
        padding: 0.6rem;
      }
    }
  }

  .showNavMenuDropdownList {
    display: flex;
  }
  .removeNavMenuDropdownListAnimation {
    animation: scaleDown 0.4s ease forwards;
  }
  .showNavMenuDropdownListAnimation {
    animation: scaleUp 0.4s ease forwards;
  }

  @media (min-width: 768px) {
    .navMenuList {
      display: flex;
      flex-direction: row;
      row-gap: 0rem;
      padding: 0 1rem;
      background: none;
      border-radius: 8px;
      position: static;
      z-index: 1000;
      width: fit-content;
      margin-top: 0;
      font-size: 0.875rem;

      .navMenuItem {
        margin-right: 1rem;
        padding: 0.6rem 0;

        &:last-child {
          margin-right: 0;
        }

        .navMenuItemLink {
          &:hover {
            background-color: var(--navMenuItemLink-text-hover-background);
            border-radius: 8px;
            color: var(--navMenuItemLink-text-hover);
          }
        }
        .activeMenuTab {
          background-color: var(--navMenuItemLink-text-hover-background);
          color: var(--activeNavMenuItem-text);
          border-radius: 8px;
        }
      }
    }

    .activeNavMenuItem {
      background: none;
      border: none;
      font-size: 0.875rem;
      display: none;
    }
  }
}

@media (max-width: 768px) {
  @keyframes hoverAnim {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(180deg);
    }
  }

  @keyframes unhoverAnim {
    0% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @keyframes scaleUp {
    0% {
      scale: 0.8;
    }
    100% {
      scale: 1;
    }
  }

  @keyframes scaleDown {
    0% {
      scale: 1;
    }

    100% {
      scale: 0.8;
    }
  }
}
